<ion-header>
  <ion-toolbar>
    <ion-title>Cabinet - Joindre</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <button mat-fab color="primary" (click)="join()" style="position: absolute; right: 16px; bottom: 32px;">
    <mat-icon>done</mat-icon>
  </button>

  <ion-grid>

    <ion-row>
      <ion-col>
        <h4>Rejoindre un cabinet</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <mat-form-field style="width: 100%;">
          <mat-label>Identifiant du cabinet</mat-label>
          <input type="number" matInput [(ngModel)]="surgeryCode">
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>