<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <section class="banner-content">
    <div class="container text-center">
      <div class="section-title text-white">
        <h1 class="banner-title ">Qualyteeth</h1>
        <h3 class="banner-subtitle">Short and synthetic description of Qualyteeth</h3>
      </div>

      <button mat-raised-button color="primary" style="margin-right: 8px;">For Dentists</button>
      <button mat-raised-button color="primary" style="margin-left: 8px;">For Patients</button>
    </div>
  </section>

  <section class="section-ash section-padding">
    <div class="container">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <div class="section-title text-center">
            <h2>What do we provide to our clients?</h2>
            <h4>Services we provide to the clients</h4>
          </div>
        </ion-row>

        <ion-row>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 1</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 2</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 3</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 4</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 5</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="service-content">
              <div class="icon-content">Icon of the service</div>
              <div class="text-content">
                <h3>Service 6</h3>
                <p>Short description of the service here in a couple of lines</p>
              </div>
            </div>
          </ion-col>

        </ion-row>

      </ion-grid>
    </div>
  </section>

  <section class="section-padding section-about">
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col size-lg="6">
            <div class="text-left">
              <h2>Why Choose us</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as</p>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-lg="6">

            <ion-grid>
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
                  <mat-card>
                    <h4>250+</h4>
                    <h6>Clients</h6>
                  </mat-card>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
                  <mat-card>
                    <h4>250+</h4>
                    <h6>Projects</h6>
                  </mat-card>
                </ion-col>

                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
                  <mat-card>
                    <h4>250+</h4>
                    <h6>Products</h6>
                  </mat-card>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>

        </ion-row>
      </ion-grid>

    </div>
  </section>

  <section class="section-ash section-padding">
    <div class="container">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <div class="section-title text-center">
            <h2>Team</h2>
            <h4>Established fact that a reader will be distracted by the readable content</h4>
          </div>
        </ion-row>

        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="team-content">
              <img src="/assets/images/levraz.png" alt="Délila Levraz" class="member-img img-fluid">
              <div class="text-content">
                <h3>Délila Levraz</h3>
                <h4>Founder &amp; CEO</h4>
                <p>Description of Délila</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="team-content">
              <img src="/assets/images/toppo.png" alt="Daniel Toppo" class="member-img img-fluid">
              <div class="text-content">
                <h3>Daniel Toppo</h3>
                <h4>Founder &amp; CTO</h4>
                <p>Description of Daniel</p>
              </div>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <div class="team-content">
              <img src="/assets/images/dantas.png" alt="Antonio Dantas" class="member-img img-fluid">
              <div class="text-content">
                <h3>Antonio Dantas</h3>
                <h4>Founder &amp; COO</h4>
                <p>Description of Antonio</p>
              </div>
            </div>
          </ion-col>

          <!-- <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="3">
            <div class="team-content">
              <img src="/assets/images/spirig.png" alt="Severin Spirig" class="member-img img-fluid">
              <div class="text-content">
                <h3>Severin Spirig</h3>
                <h4>Founder &amp; CMO</h4>
                <p>Description of Severin</p>
              </div>
            </div>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="section-ash section-padding section-testimonials">
    <div class="container">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="8">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <div>
                  <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                  </blockquote>
                  <div class="testimonial-info">
                    <div class="testimonial-client">
                      <div style="font-size: 1.2em">Alex Jhonson</div>
                      <div>Designer</div>
                    </div>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div>
                  <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                  </blockquote>
                  <div class="testimonial-info">
                    <div class="testimonial-client">
                      <div style="font-size: 1.2em">Alex Jhonson</div>
                      <div>Designer</div>
                    </div>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div>
                  <blockquote>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                  </blockquote>
                  <div class="testimonial-info">
                    <div class="testimonial-client">
                      <div style="font-size: 1.2em">Alex Jhonson</div>
                      <div>Designer</div>
                    </div>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>

  <section class="section-ash section-padding">
    <div class="container">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <div class="section-title text-center">
            <h2>News</h2>
            <h4>Established fact that a reader will be distracted by the readable content</h4>
          </div>
        </ion-row>

        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <mat-card class="blog-post-content">
              <img src="/assets/images/post-1.jpeg" alt="Post 1" class="img-fluid">
              <div class="text-content">
                <h5><a href="#">Nilanjan</a> | <a href="#">January 19, 2021</a></h5>
                <h3><a href="#">What is Lorem Ipsum?</a></h3>
                <p>
                  There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour, or randomised words
                </p>
              </div>
            </mat-card>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <mat-card class="blog-post-content">
              <img src="/assets/images/post-1.jpeg" alt="Post 1" class="img-fluid">
              <div class="text-content">
                <h5><a href="#">Nilanjan</a> | <a href="#">January 19, 2021</a></h5>
                <h3><a href="#">What is Lorem Ipsum?</a></h3>
                <p>
                  There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour, or randomised words
                </p>
              </div>
            </mat-card>
          </ion-col>

          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4">
            <mat-card class="blog-post-content">
              <img src="/assets/images/post-1.jpeg" alt="Post 1" class="img-fluid">
              <div class="text-content">
                <h5><a href="#">Nilanjan</a> | <a href="#">January 19, 2021</a></h5>
                <h3><a href="#">What is Lorem Ipsum?</a></h3>
                <p>
                  There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form, by injected humour, or randomised words
                </p>
              </div>
            </mat-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
  </section>

  <footer>
    <div class="container">
      <ion-grid>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="3" style="margin-bottom: 16px;">
            <div class="footer-item" style="margin-bottom: 32px;">
              <div style="display: flex; align-items: center; margin-bottom: 16px;">
                <img src="assets/images/qualyteeth-icon.png" alt="Qualyteeth" class="img-fluid qualyteeth-icon">
                <span style="font-size: 1.5em; margin-left: 16px; color: white;">Qualyteeth</span>
              </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
            <div class="footer-item">
              <ul class="social">
                <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                <!-- <li><a href="#"><ion-icon name="logo-pinterest"></ion-icon></a></li> -->
              </ul>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
            <div class="footer-item">
              <h4>Products</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
            <div class="footer-item">
              <h4>Company</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </ion-col>

          <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
            <div class="footer-item">
              <h4>Learn More</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </ion-col>

        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-lg="12">
            <div class="footer-bottom">
              <p>©2023 Qualyteeth</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </footer>

</ion-content>