ion-content {
    --padding-bottom: 16px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 16px;
}

table {
    width: 100%;
    margin-top: 32px;
}

.mat-row:hover {
    background-color: #f6f6f6;
}
