.error {
    padding-left: 16px;
    text-align: left;
    font-size: 0.8em;
    padding-top: 4px;
    color: red;
}

ion-grid {
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 8px;
}