<ion-header>
  <ion-toolbar>
    <ion-title>Diagnostique - Définition</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position: relative;">

  <button mat-fab color="primary" (click)="save()" style="position: absolute; right: 16px; bottom: 32px;">
    <mat-icon>done</mat-icon>
  </button>

  <ion-grid fixed>

    <ion-row *ngIf="predicament != null">
      <ion-col>
        <form>
          <mat-form-field style="width: 100%;">
            <mat-label>Nom</mat-label>
            <input type="text" matInput [formControl]="nameCtrl" (change)="predicament.name = nameCtrl.value">
            <mat-error *ngIf="nameCtrl.hasError('required')">
              Le nom est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content> 
