<ion-header [translucent]="true">
  <ion-toolbar>
    <toolbar-title></toolbar-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <!-- <ion-title *ngIf="dentist != null">{{ dentist.firstname }} {{ dentist.lastname }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed *ngIf="dentist != null">
    <ion-row>
      <ion-col>
        <div style="display: flex; justify-content: center; width: 100%; height: 104px;">
          <img *ngIf="dentist.image == null" style="width: 104px; height: 104px; border-radius: 50%; border: solid 1px lightgray; object-fit: cover;" src="/assets/img/profile.png">
          <img *ngIf="dentist.image != null" style="width: 104px; height: 104px; border-radius: 50%; border: solid 1px lightgray; object-fit: cover;" [src]="dentist.image">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="display: flex; justify-content: center; width: 100%;">
        <h2>{{ dentist.firstname }} {{ dentist.lastname }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center" class="ion-text-center">
      <ion-col>
        <ion-list lines="none">
          <!-- <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/img/profile.png">
            </ion-avatar> 
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>{{ dentist.firstname }} {{ dentist.lastname }}</h2>
            </ion-label>
          </ion-item> -->
          <ion-item>
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>
              <h2>{{ dentist.street }} {{ dentist.streetNb }}</h2>
              <h3>{{ dentist.postalCode }} {{ dentist.city }}</h3>
            </ion-label>
          </ion-item>
          <ion-item button (click)="mail()" *ngIf="dentist.email != null">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
            <ion-label>{{ dentist.email }}</ion-label>
          </ion-item>
          <ion-item button (click)="phoneCall()" *ngIf="dentist.phoneNumber != null">
            <ion-icon name="call-outline" slot="start"></ion-icon>
            <ion-label>{{ dentist.phoneNumber }}</ion-label>
          </ion-item>
          <!-- <ion-item button (click)="toTreatments()">
            <ion-icon name="medical-outline" slot="start"></ion-icon>
            <ion-label>
              <h3>Traîtements</h3>
              <p>{{ treatments.length }}</p>
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" *ngIf="treatments.length > 0"></ion-icon>
          </ion-item> -->
          <!-- <ion-item style="display: flex; align-items: flex-start;">
            <ion-icon name="medical-outline" slot="start"></ion-icon>
            <mat-expansion-panel style="box-shadow: none; width: 100%;">
              <mat-expansion-panel-header style="padding-left: 0;">
                <mat-panel-title>
                  Traîtements
                </mat-panel-title>
                <mat-panel-description style="display: flex; justify-content: flex-end;">
                  {{ treatments.length }}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ion-list lines="full">
                <treatment [treatment]="treatment" *ngFor="let treatment of treatments"></treatment>
              </ion-list>
            </mat-expansion-panel>
          </ion-item> -->

          <mat-tab-group style="margin-top: 32px;">

            <mat-tab label="Diagnostiques">
              <ion-list *ngIf="diagnostics.length > 0">
                <ion-item *ngFor="let d of diagnostics">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <h6>Date: {{ d.startDate | date : "dd.MM.yyyy" }}</h6>
                      <h2>Diagnostique: {{ d.name }}</h2>
                      <h4 *ngIf="d.comment != null">Commentaire: {{ d.comment }}</h4>

                      <div *ngIf="d.teeth != null && d.teeth.length > 0" style="font-size: 0.85em;">
                        <span *ngIf="d.teeth.length > 1">Dents traîtées: </span>
                        <span *ngIf="d.teeth.length === 1">Dent traîtée: </span>
                        <span *ngFor="let tt of d.teeth; let i=index">{{ tt.toothFdiNumber }} <span *ngIf="i < d.teeth.length - 1"> | </span> </span>
                      </div>

                    </ion-text>
                  </ion-label>
                </ion-item>

              </ion-list>
              <ion-item *ngIf="diagnostics.length === 0">Aucun diagnostique par ce dentiste</ion-item>
            </mat-tab>

            <mat-tab label="Traitements">
              <ion-list *ngIf="treatments.length > 0">
                <ion-item *ngFor="let t of treatments">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <h6>Date: {{ t.startDate | date : "dd.MM.yyyy" }}</h6>
                      <h2>Traitement: {{ t.name }}</h2>
                      <h4 *ngIf="t.comment != null">Commentaire: {{ t.comment }}</h4>

                      <div *ngIf="t.teeth != null && t.teeth.length > 0" style="font-size: 0.85em;">
                        <span *ngIf="t.teeth.length > 1">Dents traîtées: </span>
                        <span *ngIf="t.teeth.length === 1">Dent traîtée: </span>
                        <span *ngFor="let tt of t.teeth; let i=index">{{ tt.toothFdiNumber }} <span *ngIf="i < t.teeth.length - 1"> | </span> </span>
                      </div>

                    </ion-text>
                  </ion-label>
                </ion-item>

              </ion-list>
              <ion-item *ngIf="treatments.length === 0">Aucun traitement par ce dentiste</ion-item>
            </mat-tab>

          </mat-tab-group>

        </ion-list>
      </ion-col>
    </ion-row>

    <!-- <ion-row class="ion-align-items-center ion-justify-content-center" class="ion-text-center" *ngIf="dentist.status == null">
      <ion-col>
        <ion-button color="primary" (click)="requestConnection()">Requête de connexion</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center" class="ion-text-center" *ngIf="dentist.status == 'REQUESTED'">
      <ion-col>
        <ion-button color="secondary" disabled>En attente de réponse</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center" class="ion-text-center" *ngIf="dentist.status == 'REJECTED'">
      <ion-col>
        <ion-button color="danger" disabled>Rejetée par le dentiste</ion-button>
      </ion-col>
    </ion-row> -->
  </ion-grid>

</ion-content>