<ion-header>
  <ion-toolbar>
    <ion-title>Traitement - Définition</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="position: relative;">

  <button mat-fab color="primary" (click)="save()" style="position: absolute; right: 16px; bottom: 32px;">
    <mat-icon>done</mat-icon>
  </button>

  <!-- <ion-list lines="none" *ngIf="t != null">
    <ion-item button *ngFor="let a of t.acts">
      <ion-label>
        <p>{{ a.name }}</p>
      </ion-label>
      <ion-button color="primary" (click)="deleteAct($event, a)" fill="clear" color="danger">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="t != null && t.acts != null && t.acts.length === 0" lines="none">
    <ion-label>Aucun acte pour ce traitement</ion-label>
  </ion-item> -->

  <ion-grid fixed>

    <ion-row *ngIf="t != null">
      <ion-col>
        <form>
          <mat-form-field style="width: 100%;">
            <mat-label>Nom</mat-label>
            <input type="text" matInput [formControl]="nameCtrl" (change)="t.name = nameCtrl.value">
            <mat-error *ngIf="nameCtrl.hasError('required')">
              Le nom est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col style="position: relative;">

        <button mat-mini-fab color="primary" (click)="addAct($event)" style="position: absolute; right: 16px; top: 32px;">
          <mat-icon>add</mat-icon>
        </button>

        <h5>Actes</h5>

        <table #actsTable mat-table [dataSource]="t.acts" class="mat-elevation-z1" *ngIf="t != null && t.acts != null && t.acts.length > 0" cdkDropList [cdkDropListData]="t.acts" (cdkDropListDropped)="dropTable($event)">

          <ng-container matColumnDef="nb">
            <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon cdkDragHandle>reorder</mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Position </th>
            <td mat-cell *matCellDef="let element">{{ (t.acts.indexOf(element) + 1) }}</td>
          </ng-container>

          <ng-container matColumnDef="actId">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element" style="font-weight: 500;"> {{ element.id }} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>

          <ng-container matColumnDef="more">
            <th mat-header-cell *matHeaderCellDef> &nbsp; </th>
            <td mat-cell *matCellDef="let element" style="text-align: right;">
              <!-- <button mat-icon-button (click)="editAct($event, element)">
                <mat-icon style="color: black;">more_vert</mat-icon>
              </button> -->
              <button mat-icon-button (click)="delete(element)">
                <mat-icon style="color: red;">cancel</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;" cdkDrag [cdkDragData]="row"></tr>
        </table>

        <div *ngIf="t != null && (t.acts == null || t.acts.length === 0)" style="margin-top: 32px;">
          Aucun acte pour ce traitement
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>